.Header
  .Header__log
    グループを作成しました

.Wrapper
  .Chat-side
    = render 'messages/side-header'
    = render 'messages/groups'
      

  .Chat-main
    = render 'messages/main-headers'
    = render 'messages/chat-messages'
    = render 'messages/chat-forms'